/********
GENERAL
********/

body {
	background-color: black;
	color: white;
}



/********
HEADER
********/

h1, .theme {
	color: #888;
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	list-style: underline;
}



/********
PAGE
********/

h2 {
	text-align: center;
	padding-top: 120px;
}

.theme1 {
	font-family: 'Graduate', cursive;
}

.theme2 {
	font-family: 'Cinzel Decorative', cursive;
}

img {
	width: 350px;
	height: 300px;
	border: 5px solid white;
}




/********
FOOTER
********/


