/*******
GENERAL
********/

body {
	background-image: url(arena.jpg);
	background-size: cover;
	padding-top: 42px;
}

/********
HEADER
********/

.navbar-fixed-top {
	background-color: black;
	margin: 0;
	height: 75px;
	text-align: center;
}

h1 {
	color: #888;
}

h2 {
	text-align: center;
	text-decoration: underline;
	padding-top: 100px;
	margin-top: 0;
	color: white;
}



/********
PAGE
********/

/*Get player_1 & player_2 to be on either side of the table*/
.player_1, .player_2, .results_1, .results_2 {
	border: 2px solid white;
	color: white;
	background-image: url(results.jpg);
	background-size: cover;
	background-repeat: no-repeat; /* #3B653D chalkboard green */
}

.results_1, .results_2 {
	height: 290px;
	max-height: 290px;
	width: 242.5px;
	max-width: 242.5px;
}

.board {
	width: 300px;
	height: 300px;
	background-image: url(roman.jpg);
	margin: 0 auto;
	border-radius: 10%;
}

td {
	text-align: center;
}

.square {
	width: 95px;
	height: 95px;
	font-size: 48px;
	border-radius: 100%;
	background-image: url(trav.jpg);
}

.button_pic {
	width: 70%;
	height: 70%;
}

/*Get new_game button to be centered*/
.button-ctr {
	text-align: center;
	padding-top: 15px;
}

.new_game {
	width: 80px;
	height: 22px;
	font-size: 12px;
	background-color: #e50000;
	color: white;
}

/********
FOOTER
*******