/*******
GENERAL
********/



/********
HEADER
********/

.navbar-fixed-top {
	background-color: black;
	margin: 0;
	height: 75px;
	text-align: center;
}

h1 {
	color: #888;
}

h2 {
	text-align: center;
	text-decoration: underline;
	padding-top: 100px;
	margin-top: 0;
}



/********
PAGE
********/

/*Get player_1 & player_2 to be on either side of the table*/
.player_1, .player_2 {
	border: 2px solid black;
	width: 200px;
}

.player_2 {
	float: right;
}

.board {
	border: 2px solid black;
	width: 300px;
	height: 300px;
	margin: 10px auto;
}

td {
	border: 1px solid black;
	text-align: center;
}

/*Get new_game button to be centered*/
.button-ctr {
	text-align: center;
	padding-top: 15px;
}

.new_game {
	width: 80px;
	height: 22px;
	font-size: 12px;
	background-color: #e50000;
	color: white;
}

/********
FOOTER
*******